body {
    background: #0b0c10;
    color:#c5c6c7;
    font-family: 'DM Sans', sans-serif;
}

.navbar{
    padding:20px;
}

.navbar-brand {
    padding-left: 10px;
}

.bg-light {
    background:transparent!important;
}

.navbar-light .navbar-brand {
    color: #66fcf1;
    text-transform: uppercase;
    font-family: 'Source Code Pro', monospace;
}

.navbar-light .navbar-nav .nav-link {
    color:#45a29e;
    text-transform: uppercase;
    font-family: 'Source Code Pro', monospace;
}

.navbar-light .navbar-nav .nav-link:hover {
    color:#66fcf1;
}

.photo-img{
    max-height:300px;
    border-radius:1000px;
    border:2px solid #66fcf1;
    max-width:300px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #66fcf1;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.slim-shady {
    color: #66fcf1;
}
